body {
  background: url(./files/assets/pokemon-Background.jpg) repeat-y top ;
}

/* header */

.box-header {
  flex-direction: column-reverse;
  background-color: rgba(82, 82, 161, 0.39);
}

li {
  list-style: none;
}

header .img-pokemon {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.card img{
  height: 100px;
  max-width: 80px;
}

/* selecionando o status */

section.container-stats-names {
  margin: 30px;
}

.container-text h3 {
  font-size: 30px;
  margin: 10px auto 10px auto;
  text-align: center;
  font-weight: bolder;
}

.select-satats {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

.space-satates {
  margin: 0 3px;
  font-size: medium;
  font-weight: bolder;
}

.name-stats {
  margin-left: auto;
  margin-right: auto;
}

/* manipulando cartas */

main.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.box-card {
  background-image: linear-gradient( to bottom left, rgb(167, 96, 189), rgb(99, 91, 91));
  box-sizing: content-box;
  height: 285px;
  width: 200px;
  margin: 0 15px;
  border: 5px groove rgb(189, 160, 20);
  border-radius: 8px;
}

.size {
  font-size: 25px;
  text-align: center;
  padding: 2px;
}

div .container-states-values {
  display: flex;
  flex-wrap: wrap;
}
